{
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    },
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "semi": 2
    }
}
